// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.

mixin linkIcons(link, icon)
	- iconClass = icon || ''
	a(href = link, target = "_blank")
		i(class = "fab " + iconClass)

mixin badge(text)
	.badge #{text}

mixin logo(title, subtitle)
	.logo
		.logo__icon
			i(class = "far fa-paper-plane")
		.logo__text
			a(href="#").header-logo__title #{title}
			.header-logo__sub #{subtitle}

mixin logoDark(title, subtitle)
	.logo
		.logo__icon.logo__icon--dark
			i(class="far fa-paper-plane")
		.logo__text
			a(href="#").header-logo__title.header-logo__title--dark #{title}
			.header-logo__sub.header-logo__sub--dark #{subtitle}

mixin userStatus(status)
	if (status == true)
		.header-user
			+avatar("../../../img/avatars/avatar-1.jpg", "Юрий Ключевский", "avatar--small")
			.header-user__name Юрий Ключевский
			.header-user__badge Пользователь
			+button-profile('Профиль', '#')
			+button-profile('Выход', '#')

	if (status == false)
		.header-user
			+link('Регистрация', '#').header-user__link
			+link('Вход', '#').header-user__link


mixin checkbox(name, label)
	label.checkbox__label(class != attributes.class)
		input(class = "checkbox__input" type = "checkbox"  name = name)
		span.checkbox__type
		|&nbsp;#{label}


mixin jobItem(date, name)
	.user-message
		.user-message__header
			.user-message__date #{date}
			+button-delete('Удалить', '#')
		.user-message__from
			.user-message__name #{name}
		.user-message__text
			block
