extends ../../layouts/ui-layout.pug

block variables
	- var title = 'Подвал сайта - UI-kit и HTML фреймворк - Документация'
	- var pageClass = 'body--dashboard'

block content
	include ../../sections/ui-nav-inside-ui.pug

	.main-wrapper
		.container.container--left
			.title Подвал сайта

		p Футер подключаем из отдельной файла, через include

		.section-ui.mt-20
			.title-medium Подключение из файла
		pre include ../../sections/footer.pug

		.section-ui
			.title-medium Разметка

	//- - var vk = "<i class="fas fa-heart"></i>";

	footer.footer
		.container
			.row
				.col-4
					p © Dream-Team
					p Создано с
						i.fas.fa-heart
						| в #[a(class='footer-link__bold' href='#' target='_blank') WebCademy.ru] в 2017 году
				.col-4
					nav
						ul.footer-nav
							li.footer-nav__item
								a(href="#") Главная
							li.footer-nav__item
								a(href="#") Обо мне
							li.footer-nav__item
								a(href="#") Работы
							li.footer-nav__item
								a(href="#") Блог
							li.footer-nav__item
								a(href="#") Контакты
				.col-4
					.footer__icons
						a(
							href="#"
							target="_blank"
							)
							i.fab.fa-vk
						a(
							href="#"
							target="_blank"
							)
							i.fab.fa-twitter
						a(
							href="#"
							target="_blank"
							)
							i.fab.fa-youtube 
						a(
							href="#"
							target="_blank"
							)
							i.fab.fa-instagram
						a(
							href="#"
							target="_blank"
							)
							i.fab.fa-facebook-f
